<mat-card>
  <form [formGroup]="createAssignmentFormGroup" (ngSubmit)="onSubmit()">
    <h3 *ngIf="mode === 'create'">Add Camera Assignment</h3>
    <h3 *ngIf="mode === 'edit'">Update Camera Assignment</h3>

    <mat-form-field>
      <mat-label>Camera</mat-label>
      <mat-select formControlName="cameraId" required>
        <mat-option *ngFor="let camera of cameras$ | async" [value]="camera.id">
          {{camera.deviceNo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vehicle</mat-label>
      <mat-select formControlName="vehicleId" required>
        <mat-option *ngFor="let vehicle of vehicles$ | async" [value]="vehicle.id">
          {{vehicle.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="!createAssignmentFormGroup.valid">
      Save Post
    </button>
  </form>
</mat-card>